{{!< default}}
<div class="container">
<div class="jumbotron col-xs-12" id="jumbotron" >
  <h2 class="display-3">Pharmacy pos</h2>
  <p class="lead">Magnum digitalke</p>

  <p class="text-center">
  <a class="btn btn-success btn-lg" href="#" role="button">Online Demo</a>
    <a class="btn btn-success btn-lg" href="/users/login" role="button" name="download">Download Now</a>
  </p>
</div>
</div>
<div class=" text-center">
      <div class="row  panel panel-default">
      <h1><strong>Its simple!</strong> Just 3 steps..</h1>
        <div class="col-md-4 col-sm-4 col-sm-4 ">
        <div id="gly"><i class="glyphicon glyphicon-user"></i></div>
          <h3 class="center">Create account/Log in </h3>
          <p class="light">This helps us to keep you updated on the lastest version of our software and also offer online surpport</p>
        </div>
        <div class="col-md-4 col-sm-4 col-sm-4">
        <div id="gly">
          <i class="glyphicon glyphicon-circle-arrow-down "></i></div>
          <h3 class="center">Download and Install our app </h3>
          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
        <div class="col-md-4 col-sm-4 col-sm-4">
        <div id="gly">
          <i class="glyphicon glyphicon-heart"></i></div>
          <h3 class="center">Enjoy Our Software services</h3>
          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
      </div>
      </div>

<div class="container">
<section>
<style type="text/css">

  section{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    background-color:black;

  }


  .card{
    position: relative;
    max-width: 300px;
    height: auto;
    background: linear-gradient(-45deg, #fe0847, #feae3f);
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,.) ;
    transition: .5s;
    overflow: hidden;
    margin:5px 10px 20px 5px;

  }
  .card:hover{
    transform: scale(1.1);
  }

  .col-md-3:nth-child(1) .card,
  .col-md-3:nth-child(1) .card .title h2
  {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
  }
  .col-md-3:nth-child(2) .card,
  .col-md-3:nth-child(2) .card .title h2{
    background: linear-gradient(-45deg, #ffec61, #f321d7);
  }
  .col-md-3:nth-child(3) .card,
  .col-md-3:nth-child(3) .card .title h2{
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
  }
  .col-md-3:nth-child(4) .card,
  .col-md-3:nth-child(4) .card .title h2{
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
  }
  .card:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 40%;
    background: rgba(255,255,255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
  }
  .title h2{
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,.3)
  }
  .title h3{
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
  }
  .card a{
    position: relative;
    z-index: 2;
    background:#fff;
    color: red;
    line-height: 40px;
    border-radius: 40px;
    width: 100px;
    height: 40px;
    display: block;
    text-align: center;
    margin:auto;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0, .3)
  }

</style>

    <h1>Packages</h1>
    <div class="row">
      <div class="col-md-3 col-xs-12 col-sm-6">
        <div class="card ">
          <div class="title ">
          <h2 class="glyphicon glyphicon-send " aria-hidden="true"></h2>
            <h3>BAMBA</br>(2,999/=)</h3></div>
                <ul><li >Full Features</li>
                  <li > <p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> 24/7 Offline Maintainance and Customer Care Support</p></li>
                  <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Periodic upgrade of new and Improved features</p></li>
                  <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Monthly License Subscription</p></li>
                  <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Installation on single server  machine (Each extra device add 1,000/=)</p></li>
                </ul>
                <a href="/users/login">Order Now</a>
        </div>
      </div>
  <div class="col-md-3 col-xs-12 col-sm-6">
    <div class="card">
      <div class="title text-center">
          <h2 class="glyphicon glyphicon-usd " aria-hidden="true"></h2>
      <h3>UCHUMI</br>(*19,999/=)</br></h3> </div>
        <ul><li >Full Features at 40% OFF</li>
          <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> 24/7 Offline Maintainance and Customer Care Support</p></li>
          <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Periodic upgrades of new and improved features</p></li>
          <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Yearly License Subscription of 30,000/= per year</p></li>
          <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Installation on Single Server Machine( Each Extra Machine Add 10,000/= per year)</p></li>
          <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Offline Installation no matter where you are</p></li>
          <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> *Offer price if for first year only</p></li>
        </ul>
        <a href="/users/login">Order Now</a>
    </div>
    </div>
  <div class="col-md-3 col-xs-12 col-sm-6">
      <div class="card">
      <div class="title text-center">
      <h2 class="glyphicon glyphicon-flash" aria-hidden="true"></h2>
      <h3>UHURU</br>(50,000/=)</h3> </div> 
          <ul>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> One-off license purchase, no strings attached</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Two months full support</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Offline Installation no matter where you are</p></li>
          </ul>
          <a href="#">Order Now</a>
      </div>
      </div>
  <div class="col-md-3 col-xs-12 col-sm-6">
    <div class="card">
    <div class="title text-center">
          <h2 class=" glyphicon glyphicon-star-empty" aria-hidden="true"></h2> 
      <h3>biashara</br>(Contact US)</h3></div>
          <ul>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Suitable for franchises</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Onsite Installation on multiple machines</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button>Includes hardware support such as thermal printer, Cash drawer and barcode scanner</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Support for multi-location devices and central server installation</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Contractual License</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> Monthly Upgrades</p></li>
            <li><p><button class="glyphicon glyphicon-ok" aria-hidden="true"></button> 24 /7 Offline and On-ground Maintainance and Customer Care</p></li>
          </ul>
          <a href="/users/login">Order Now</a>
      </div>
      </div> 
</section>
</div>
    <h1>Software features</h1>
  </div>
  <div class="container">
    <h1>Contact Us</h1>
  </div>






</div>
</div>
